.seguirComprando{
   /* margin-top: 1rem; */
   /* margin-left: 2.5rem; */
   /* margin: 0 30px; */
  
  
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}
.btn-seguirComprando{
    /* margin: 0 30px; */
    height: auto;
  
    margin-top: 1rem;
    padding: 12px;
    font-size: 0.8rem !important;
    border-radius: 8px;
    width: 10rem;
    max-width: 13rem;
   
}
.description{
    
    align-items: center;
    padding: 5px;
}
.img-container{
    height: 300px;
    display: flex;
    justify-content: center;
}

.img{
    border: 2px solid rgba(39, 48, 48, 0.908);
    /* grid-row: auto; */
    width: 100%;
    height: 100%;
    margin-left: 50px;
    border-radius: 10px;
}
.contador{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    justify-content: space-between;

   
    
}
.button{
    max-width: 158px;
    color:white;
    font-size: 15px;
    margin-left:15px ;
    padding:5px;
    background: rgb(33, 90, 129);
    border: solid 2px;
    border-radius: 8px;
}
.button:hover{
    background-color:rgb(61, 137, 188) ;
}
.button-finalizar:hover{
    background-color: #8d68b7e7;
    color:white

}
.finalizar{
    margin-top: 10px;
    margin-left: 15px;
}
.button-finalizar{
    text-decoration: none;
    border-radius: 25;
    margin: 0 30px;
    width: auto;
    padding: 12px;
    font-size: 15px !important;
    background: #9a81b7e7;
    border-radius: 8px;
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: larger;
   
}
.descripcion{
    color: white;
    background:rgba(39, 48, 48, 0.908);
    padding: 4px;
    border-radius: 15px;
}

